/**
 * Generic elements.
 */
body {
  margin: 0;
  padding: 0 0 45px 0;
  background: #FFFFFF url(images/header-big.jpg) top center no-repeat scroll;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  /*font-size: 62.5%;*/
  font-size:72.5%;
  
}

dl,td,th,label, p, ol ,li{
  font-size: 1.2em;
  line-height: 1.3em;
}


h1, h2, h3, h4, h5, h6 {
  /*font-family: Georgia,Times,serif;*/
  font-family:Verdana,Arial,Sans-Serif;
  line-height:110%;
}
h1 {
  font-size: 1.9em;
  color:rgb(232,84,158);
  margin:0em;
}
h2 {
 color:rgb(255,192,220);

}
h3 {
 font-size: 1.5em;
 color:#000;
 text-align:center;
}
h4 {
  font-size: 1.4em;
  color:rgb(61,41,25);
}
h5 {
  font-size:1.2em;
  font-weight:bold;
  color:rgb(61,41,25);
}
h2 a{
 color:rgb(232,84,158);
}

h2 a:hover{
 color:rgb(255,192,220);
}

quote, code, fieldset {
  margin: .5em 0;
}

hr {
  margin: 0;
  padding: 0;
  height: 1px;
}

ul {
  margin: 0.5em 0 1em;
  padding: 0 0 0 1.8em;
  line-height: 1.3em;
}
ul li {
  margin: 0.4em 0 0.4em 0.5em;
}
ul li, ul.menu li, .item-list ul li, li.leaf {
  margin: 0.1em 0 0.1em .4em;
  padding: 0 0 0.1em 1em;
  line-height: 1.6em;
  list-style-type: none;
  list-style-image: none;
  
}
ul li.leaf a{
  display: block;
}
ul li.collapsed a {
text-decoration:none;

 }
ul li.expanded a{
  display: block;
}


ul.inline li {
  margin: 0;
  padding: 0 1em 0 0;
  background: none;
}
ul.menu, .menu ul, .item-list ul {
  margin: 0.35em 0 0 -0.5em;
  padding: 0;
}
ul.menu ul, .item-list ul ul {
  margin-left: 0em;
}
ul.menu {
  margin: 0;
}
ul.menu ul {
  margin: 0;
}
ul.menu li {
  margin: 0;
  padding: 0;
  /*border-bottom: 1px solid rgb(255,192,220);*/
  font-size:1.0em;
}
ul.menu li li {
  margin: 0;
  padding: 0 0 0 14px;
  width: 90%;
  border-bottom: none;
}
ul.menu li.expanded a {
  display: block;
  padding: 3px 3px 3px 18px;
  background: url(images/menu-expanded.gif) no-repeat 3px 6px;
  text-decoration: none;
}
ul.menu li.leaf a {
  display: block;
  padding: 3px 3px 3px 18px;
  background: url(images/menu-option.gif) no-repeat 3px 6px;
  text-decoration: none;
}
ul.menu li a.active {
  font-weight: bold;
  /*background-color: rgb(255,192,220);*/
  
}
ul.menu li li a {
  width: 90%;
  padding: 1px 3px 1px 18px;
}
ul.menu li.collapsed a {
  display: block;
  padding: 3px 3px 3px 18px;

  background: url(images/menu-collapsed.gif) no-repeat 3px 6px;
}
ul.menu li a:hover {
  /*background-color: rgb(255,192,220);*/
  color: #4D4D4D;
}

fieldset ul.clear-block li {
  margin: 0;
  padding: 0;
  background-image: none;
}

dl {
  margin: 0.5em 0 1em 1.5em;
}
dl dt {
}
dl dd {
  margin: 0 0 .5em 1.5em;
}

acronym {
  border-bottom: 1px dotted black;
}

/**
 * Table styles.
 */
table {
  margin: 1em 0;
}
th {
  font-weight: bold;
}
td, th {
  padding: .3em .5em;
  vertical-align: top;
}
.cell-header {
  background-color: #ffcc99;
}

a {
  color: #4D4D4D;
  text-decoration:none;
}
a:hover {
  color:#999999;
  text-decoration:underline;
}

.description {
  line-height: 150%;
  margin-bottom: 0.75em;
}

.messages {
  margin: .75em 0 .75em;
  padding: .5em 1em;
  border: 1px outset rgb(232,84,158);
}

.messages ul {
  margin: 0;
}

.form-checkboxes,
.form-checkboxes .form-item,
.form-radios,
.form-radios .form-item {
  margin: 0.25em 0;
}

#center form {
  margin-bottom: 2em;
}

.form-button, .form-submit {
  margin: 2em 0.5em 1em 0;
  overflow: hidden;
  cursor:pointer;
  border-color:#CCCCCC;
}

#watchdog-form-overview .form-submit,
.confirmation .form-submit,
.search-form .form-submit,
.poll .form-submit,
fieldset .form-button,
fieldset .form-submit,
.sidebar .form-button,
.sidebar .form-submit,
table .form-button,
table .form-submit {
  margin: 0;
}

.box {
  margin-bottom: 2.5em;
}

/**
 * Layout.
 */
#jump-content {
  display: none;
}

#wrapper {
  margin-top: 0px;
  margin-bottom: -60px;
}

#wrapper #container {
  margin: 0 auto;
  /*padding: 0 10px;*/
  width: 860px;
}

/**
 * Header.
 */
#wrapper #container #header {
  height: 200px;
  position:relative;
  color: #fff;
}

#wrapper #container #header #logo-floater {
  position: absolute;
  top: 30px;
  left: 30px;
}
#wrapper #container #header #logo-floater a {
  text-decoration: none;
  display: block;
  float: left;
}
#wrapper #container #header #logo-floater a h1 {
  color: #fff;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
#wrapper #container #header #logo-floater .site-name {
  position: absolute;
  margin-top: -1em;
}
#wrapper #container #header #logo-floater .site-slogan {
  position: absolute;
  font-weight: normal;
  font-size: 0.6em;
}

#wrapper #container #header #search-floater {
  position: absolute;
  right: 70px;
  top: 85px;
  width: 250px;
  z-index: 2;
}

#wrapper #container #header #login {
  position: absolute;
  right: 80px;
  top: 40px;
  width: 200px;
  z-index: 1;
  text-align:right;
  font-size:11px;
  font-weight:bold;
}
#wrapper #container #header #search-floater div.form-item {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 155px;
  height: 28px;
}
#wrapper #container #header #search-floater div.form-item label {
  display: none;
}
#wrapper #container #header #search-floater input.form-text {
  margin: 2px 7px;
  padding: 0;
  width: 181px;
  height: 16px;
  line-height: 24px;
  border-color:#CCCCCC;
}
#wrapper #container #header #search-floater input.form-submit {
  float: right;
  margin: 0;
  overflow: hidden;
  cursor:pointer;
  border-color:#CCCCCC;
  padding:0;
}

#wrapper #container #header h1,
#wrapper #container #header h1 a:link,
#wrapper #container #header h1 a:visited {
  line-height: 120px;
  position: relative;
  z-index: 2;
  white-space: nowrap;
}

#wrapper #container #header h1 img {
  padding-top: 16px;
  padding-right: 20px;
  float: left;
}

/* We must define 100% width to avoid the body being too narrow for near-empty pages */
#wrapper #container #center {
  float: left;
  width: 100%;
  margin-top: 0;
}

/* So we move the #center container over the sidebars to compensate */
body.sidebar-right #center {
  margin-right: -340px;		/* SRW */
}

/* And add blanks left and right for the sidebars to fill */
body.sidebar-right #squeeze {
  margin-right: 320px;		/* SRW */
}

#wrapper #container #center #squeeze {
}

#wrapper #container #center {
  padding: 0 0 0 0px;
}
#wrapper #container #center .inner  {
  margin-top: 60px;
}
#wrapper #container #center .inner .inner-content {
  margin-top: 0;
  min-height: 300px;
}
.inner-content ul li {
  background: transparent url(images/menu-leaf.gif) no-repeat 4px .65em;
}
.inner-content ul.links li,
.inner-content ul.images li,
.inner-content ul.galleries li {
  background: none;
}
.inner-content ul.galleries li {
  border-top: 2px dotted transparent;
  border-bottom: 2px dotted #aaa;
}

.inner-content fieldset ul li {
  background-image: none;
}

#wrapper #container #language_bar {
  margin-top: 20px;
  padding:10px;
}

#wrapper #container .sidebar {
  margin: 60px 0 5em;
  float: left;
  z-index: 2;
  position: relative;
}


#wrapper #container #sidebar-right {
  width: 280px;			/* SRW */
  background: url(images/right_col_background.png)  no-repeat;
  margin-top: 10px;
  float:right;
  padding:10px;
}


#wrapper #container .block {
  /*margin-bottom: 40px;*/
}

#sidebar-right .block {
  /*padding: 10px;*/
  /*margin: 20px 0 40px;*/
}
#sidebar-right .block-region {
  margin: 0;
}

.block-region {
  padding: 1em;
  text-align: center;
}

/* Now we add the backgrounds for the main content shading */
#wrapper #container #center .inner {
  min-height: 400px;
}

#mission {
  position: absolute;
  margin: -60px 0 0;
  padding: 0 5px;
  width: 720px;
  text-align: justify;
}

#wrapper #container .breadcrumb {
  position: absolute;
  padding: 0 0 0 0px;
  font-size: 11px;
  width: 640px;
  z-index: 3;

  margin: 0;
  margin-top: -35px;
  line-height: 20px;
  margin-bottom: 20px;
}
#wrapper #container .breadcrumb a {
  color: #4D4D4D;
}
#wrapper #container .breadcrumb a:hover {
  color: #999999;
}

/**
 * Blocks.
 */
.block h2.block-title {
  margin-top: 0;
  padding: 10px;
  
  line-height: 20px;
  color: #192666;
  text-align:center;
}
.block {
  /*margin: 0.1em 8px;*/
  width:270px;
  font-size: 1.2em;
  line-height: 1.3em;
}

.block .more-link {
  /*font-size: 0.8em;*/
  padding-right: 10px;
  font-size: 1.2em;
  line-height: 1.3em;
}

/**
 * Primary navigation.
 */
ul.primary-links {
  display: block;
  position: absolute;
  top: 147px;
  left: 0;
  height: 40px;
  width: 790px;
  margin: 0;
  /*padding: 7px 10px 0 10px;*/
  z-index: 4;
}
ul.primary-links li {
  float: right;
  margin: 0 5px 0 0;
  padding: 0;
  height: 33px;
}
ul.primary-links li a,
ul.primary-links li a:link,
ul.primary-links li a:visited {
  display: block;
  line-height: 33px;
  margin: 0;
  padding: 0 15px 0;
  color:#333333;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
ul.primary-links li a:hover {
  color: #666;
}
ul.primary-links li a.active,
ul.primary-links li a.active:link,
ul.primary-links li a.active:visited,
ul.primary-links li a.active:hover {
  color: #333333;
}

/**
 * Tabs navigation.
 */
ul.primary,
ul.primary li,
ul.secondary,
ul.secondary li {
  margin: 0;
  padding: 0;
}
#tabs-wrapper {
  margin: 0;
  padding: 0;
}
#tabs-wrapper .node {
  background: none;
}
ul.primary {
  border: 0;
  margin: 0 0px;
  padding: 15px 0 10px;
  border-bottom: 1px solid rgb(232,84,158);;
}
ul.secondary {
  clear: both;
  border: 0;
  margin: 0 10px;
  padding: 10px 0;
  border-bottom: 1px solid #dee5fd;
  float: none;
}
ul.secondary li {
  line-height: 2em;
}
ul.primary li a,
ul.primary li.active a,
ul.primary li a:hover,
ul.primary li a:visited,
ul.secondary li a,
ul.secondary li.active a,
ul.secondary li a:hover,
ul.secondary li a:visited {
  padding: 4px 1em;
  margin: 0 0 0 1px;
  height: auto;
  position: relative;
  top: -1px;
  border: 0;
  background: transparent;
}
ul.primary li,
ul.secondary li {
  border: 0;
  background: transparent;
}
ul.primary li.active a,
ul.primary li.active a:link,
ul.primary li.active a:visited,
ul.primary li a:hover {
  background-color: rgb(255,192,220);
  color:#494949;
}
ul.secondary li.active a,
ul.secondary li.active a:link,
ul.secondary li.active a:visited,
ul.secondary li a:hover {
  background-color: #a0c2d7;
  color: #494949;
}
ul.primary li.active a,
ul.secondary li.active a {
  font-weight: bold;
}
#tabs-wrapper .inner-content {
  clear: both;
}

/**
 * Footer.
 */
#wrapper  #footer {
  float: none;
  clear: both;
  height: 127px;
  background: url(images/footer_bg.gif) repeat-x 0 top;
  margin-bottom: 0;
  text-align: center;
  color: #FFFFFF;
  width:100%;
}

#wrapper  #footer #footer_container {
  clear: both;
  margin:0 auto;
  text-align: center;
  color: #FFFFFF;
  width:860px;
}

#wrapper #footer #footer_container #left {
  float:left;
  text-align: left;
  padding:5px 0 0 0px;
  width:230px;
}

#wrapper #footer #footer_container #left a{
  color:#FFFFFF;
  
}

#wrapper  #footer #footer_container #center_foot {
  text-align: center;
  padding:40px 0 0 0;
  width:400px;
  margin:0 auto;
  height:80px;
}

#wrapper  #footer #footer_container #center_foot a{
	color:#FFFFFF;
}

#wrapper  #footer #footer_container #center_foot a{
	color:#FFFFFF;
}

#wrapper  #footer #footer_container #right {
   float:right;
  text-align: left;
  padding:28px 20px 0 0;
}
/**
 * Powered by Drupal.
 */
#powered {
  color: #6685cc;
  font-size: 10px;
  text-align: center;
}
#powered a {
  color: #6685cc;
}
#powered a:hover {
  color: #192666;
}

/**
 * Nodes & comments.
 */
.node {
  margin: 0 -10px;
  padding: 0 0 5px;
}
.sticky {
}
.node a.link-title {
  display: block;
  text-decoration: none;
}
.node .content {
  margin: 0.6em 0;
  padding: 0 10px;
  text-align: justify;
}

.node ul.links li,
.node ul.inline li {
  margin-left: 0;
  margin-right: 0;
  padding-left: 1em;
  padding-right: 1em;
}

.node .links {
  text-align: left;
  font-size: 0.92em;
}

.node .meta {
  padding-top: 8px;
}
.node .meta,
.node .links {
  margin: 0 10px;
  line-height: 1.8em;
  text-align: right;
  font-size: 10px;
}
.node .terms {
  float: none;
  font-size: 0.92em;
}
.node .terms a {
  padding-left: 15px;
  background: url(images/ico_cat.gif) 0 50% no-repeat;
}
.node .terms a,
.node .links a,
.node span.submitted a {
  color: #6685cc;
}
.node .terms a:hover,
.node .links a:hover {
  color:#ff9000;
}
.node .terms ul,
.node .links ul {
  margin: 0;
}
.node .terms ul li,
.node .links ul li {
  padding: 0 5px;
  background: none;
  border-right: 1px solid #000;
}
.node .terms ul li.last,
.node .links ul li.last {
  border-right: none;
}
.node .links ul li.comment_add a,
.node .links ul li.comment_comments a {
  padding-left: 15px;
  background: url(images/ico_comment.gif) 0 50% no-repeat;
}

.node span.submitted {
  display: block;
  margin: 0 10px;
  padding: 8px 15px;
  background: url(images/ico_date.gif) 0 50% no-repeat;
  border-bottom: 1px solid #dee5fd;
  font-size: 11px;
  color: #6685cc;
}
.node span.submitted a {
  background: url(images/ico_user.gif) 0 50% no-repeat;
  padding-left: 15px;
}
.node span.submitted a:hover {
  color:#ff9000;
}

.picture {
  display: block;
  float: right;
  clear: right;
  padding: 2px;
  border: 1px solid #6685cc;
  margin: 0.5em 1.2em 0.5em 1em;
  background-color: #fff;
}
.picture img {
  display: block;
}

img.image {
  margin: 1em;
}

.preview .node {
  margin: 0;
  padding: 0.5em 0;
  background: none;
}
.preview .node h2.node-title {
  margin-top: 0;
}

#comments {
  position: relative;
  top: -1px;
  margin: -1.5em -25px 0;
  padding: 0 25px;
}

#comments h2.comments {
  margin: 0 -15px;
  padding: .5em 15px;
}

.comment {
  margin: 0 -25px;
  padding: 0 25px 1.5em;
}
.comment h3.comment-title {
  margin: 10px -10px 0;
  padding: 9px;
  font: normal 20px/100% Georgia,serif;
  line-height: 22px;
  color: #192666;
}
.comment .comment-title a {
  display: block;
  padding-left: 25px;
  text-decoration: none;
}
.comment .content {
  margin: 0.6em 0;
  text-align: justify;
}
.comment span.submitted {
  display: block;
  padding: 8px 15px;
  background: url(images/ico_date.gif) 0 50% no-repeat;
  border-bottom: 1px solid #dee5fd;
  font-size: 11px;
  color: #6685cc;
}
.comment span.submitted a {
  background: url(images/ico_user.gif) 0 50% no-repeat;
  padding-left: 15px;
}
.preview .comment h3.comment-title,
#comments .comment h3.comment-title,
#comment-form .comment h3.comment-title {
  padding-bottom: 0;
  font: bold 14px/100% Verdana,Arial,sans-serif;
  background: none;
}
.preview .comment .comment-title a,
#comments .comment .comment-title a,
#comment-form .comment .comment-title a {
  padding-left: 0;
  text-decoration: underline;
}
.preview .comment span.submitted,
#comments .comment span.submitted,
#comment-form .comment span.submitted {
  padding: 2px 0;
  border-bottom: none;
  background: none;
}
.preview .comment span.submitted a,
#comments .comment span.submitted a,
#comment-form .comment span.submitted a {
  background: none;
  padding-left: 0;
}
.comment .links ul li.comment_reply a {
  padding-left: 15px;
  background: url(images/ico_comment.gif) 0 50% no-repeat;
}
.comment .links {
  text-align: left;
  font-size: 0.92em;
}
.comment .links a {
  color: #6685cc;
}
.comment .links a:hover {
  color:#ff9000;
}
.new {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  color: #ffae00;
  font-weight: bold;
}
#comments .new {
  padding-top: 15px;
  margin-bottom: -8px;
}
.preview .comment {
  margin: 0;
  padding: 0.5em 0;
}

.messages {
  margin-bottom: 25px;
  color:#0a780f;
  border: 1px solid #C9D9F0;
  background: #F9FAFF;

}

.indented {
  margin-left: 25px;
  
}

.book-navigation ul {
  display:none;
}

.help {
  padding-top: 6px;
  padding-bottom: 6px;
}

.pager {
  margin: 20px 0;
}

/**
 * Images & galleries.
 */
.preview {
  margin: .75em 0 .75em;
  padding: 3px;
  background-color: #fff;
  border: 1px solid #999;
}
.thumbnail {
  padding: 2px;
  background-color: #fff;
  border: 1px solid #999;
}

ul.images {
  clear: both;
}
ul.images,
ul.images li {
  background-image: none;
  text-align: right;
  font-size: 90%;
}
ul.images li h3 {
  text-align: left;
}
ul.galleries li {
  border: 0;
}

/**
 * Autocomplete.
 */
#autocomplete li {
  cursor: default;
  padding: 2px;
  margin: 0;
}

/**
 * Forms.
 */
.field .field-label-inline,
.field .field-label-inline-first {
  padding-right: 0.6em;
}
.container-inline .form-text {
  width: auto;
  display: inline;
}
.container-inline .form-select {
  display: inline;
}
.container-inline .description {
  margin-right: 1em;
}

/**
 * Collapsible fieldsets.
 */
fieldset {
  margin: 1em 0;
  padding: 1em;
}
fieldset legend {
  display: block;
}
html.js fieldset.collapsed {
  padding-top: 0;
  padding-bottom: 3px;
}
html.js fieldset.collapsible legend a {
  padding-left: 2em;
}
html.js fieldset.collapsible input.form-text {
  max-width: 98%;
}

/**
 * Admin Styles.
 */
div.admin-panel,
div.admin-panel .description,
div.admin-panel .body,
div.admin,
div.admin .left,
div.admin .right,
div.admin .expert-link,
div.item-list,
.menu {
  margin: 0;
  padding: 0;
}
div.admin-panel dd {
  font-size: 0.92em;
}
div.admin .left {
  float: left;
  width: 48%;
}
div.admin .right {
  float: right;
  width: 48%;
}
div.admin-panel {
  padding: 1em 1em 1.5em;
}
div.admin-panel .description {
  margin-bottom: 1.5em;
}
div.admin-panel dl {
  margin: 0;
}
div.admin-panel dd {
  line-height: 1.3em;
  margin-top: -.2em;
  margin-bottom: .65em;
}

/**
 * Syndication icons.
 */
.feed-icon {
  float: right;
  margin: 4px 10px 14px;
}

/**
 * "Syndication" Block.
 */
#block-node-0 a.feed-icon {
  display: block;
  width: 96px;
  height: 96px;
  margin: 0 auto;
  background: url(images/feed_icon.png) no-repeat 0 0;
}
#block-node-0 a.feed-icon {
  float: none;
}
#block-node-0 a.feed-icon img {
  display: none;
}

/**
 * "Login" Block.
 */
#user-login-form {
  text-align: center;
}
#user-login-form ul {
  margin-top: 15px;
}
#user-login-form ul li {
  margin: 0 1em;
  padding: 0 0 4px;
  text-align: center;
}

/**
 * Aggregator.module
 */
#aggregator {
  margin-top: 1em;
}
#aggregator .feed-source {
  margin-bottom: 20px;
}
#aggregator .feed-description {
  margin-bottom: 10px;
}
#aggregator h3.feed-item-title {
  font: bold 15px/100% Verdana,Arial,sans-serif;
}
#aggregator .feed-item-date {
  padding-left: 15px;
  background: url(images/ico_date.gif) 0 50% no-repeat;
}
#aggregator .feed-item {
  margin: -1.5em -31px 0;
  padding: 1.5em 31px;
}
#aggregator .feed-item-body {
  text-align: justify;
}
#aggregator .feed-item-categories {
  padding-top: 4px;
  border-top: 1px solid #dee5fd;
  line-height: 1.8em;
  font-size: 10px;
}
#aggregator .feed-item-categories a {
  padding-left: 15px;
  background: url(images/ico_cat.gif) 4px 50% no-repeat;
}
#aggregator .feed-item-meta {
  display: block;
  padding: 8px 0;
  font-size: 11px;
  color: #6685cc;
}
#aggregator .feed-item-meta a,
#aggregator .feed-item-categories a {
  color: #6685cc;
}
#aggregator .feed-item-meta a:hover,
#aggregator .feed-item-categories a:hover {
  color:#ff9000;
}

/**
 * Project-issue.module
 */
.project-issue .summary table {
  margin-left: 20px;
  border: 1px solid #444;
}
.project-issue .summary table tr.odd td {
  background-color: #f5f5f5;
}
.project-issue .summary table tr.even td {
  background-color: #efefef;
}
.project-issue .summary table td {
  padding: 2px 10px;
  font-size: 10px;
}

/**
 * SWFTools.module: flash movies with jQuery
 */
div.flash-replaced embed {
  display: block;
  margin: 0 auto;
}
div.flash-replaced .alt {
  display: none;
}

/**
 * CSS support.
 */
span.clear {
  display: block;
  clear: both;
  height: 1px;
  line-height: 0;
  font-size: 0;
  margin-bottom: -1px;
}
#language_bar {
text-align:center;
}
/**
 * Footer
 */
 .contact_us{
 	font-size:16px;
	color:rgb(232,84,158);
	margin:0;
	padding:3px 0;
	font-family:Verdana,Arial,Sans-Serif;
 }
 
 .address{
 	font-size:9.5px;
	margin:0;
 }
 .secondary-links{
 text-decoration:none;
 }